* {
  margin: 0;
}

:root {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; /*fonte mais suave nos browsers webkit*/
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background-mobile.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

/*sumir com elementos da tela (sr-only)*/
.badge-band,
#quebra-cracha {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
  /* color: violet; */
}

.avatar {
  width: 10rem; /*160px*/
  margin: 11.5rem auto 0;

  position: relative; /*limite pra usar absolute*/
}

.avatar span {
  position: absolute;
  top: -70px; /*original -> -15px*/
  left: -10px;
  z-index: 1; /*logo rocketseat na camada de cima de volta (clip path tinha tirado)*/
}

/* '>' -> pega do 1º nível (ver html)*/
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /*para não perder a qualidade da img ao mudar dimensões*/

  /*hexágono*/
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/*========RESPONSIVE=========*/
@media (min-width: 767px) {
  body {
    background: url(images/background-desktop.svg) black;
  }

  main {
    display: flex;
    justify-content: center;
    margin-top: 95px;
  }

  /* aparecer elementos na tela (not-sr-only)*/
  .badge-band,
  #quebra-cracha {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }

  .badge-band {
    /* size of image */
    width: 64px;
    height: 158px;
    position: absolute;

    top: 0px;
  }

  .badge-band > img {
    width: 100%;
    height: 100%;
  }

  main {
    min-height: 540px;
    width: 358px;
    height: 540px;
  }

  #quebra-cracha {
    margin-top: 16px;
  }

  .avatar {
    margin: 48px auto 0;
  }

  .avatar span {
    top: -50px;
    left: -38px;
  }

  p {
    font-size: 15px;
  }

  ul {
    margin-top: 40px;
  }
}

@media (max-height: 720px) {
  .badge-band {
    width: 64px;
    height: 122px;
  }

  .badge-band > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
